[buildout]
extends = versions.cfg

develop = .

parts =
    test

eggs =
    five.pt
    Zope2

versions = versions

allow-picked-versions = false

[test]
recipe = zc.recipe.testrunner
eggs = ${buildout:eggs}
defaults = ['-m', 'five.pt']
